<div id="new-reservation-region"></div>
<div id="list-reservations-region"></div>
<div id="confirmed-reservations-region"></div>

<%= javascript_tag do %>
	$(function(){
		Bistro.start();	
	});
<% end %>