<!DOCTYPE html>
<html>
	<head>
		<title>JsBistro</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<link href="http://fonts.googleapis.com/css?family=Tangerine:400,700" media="screen" rel="stylesheet" type="text/css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body>
		<div class="container">
			<div class="row">
				<header class="twelve columns">
					js bistro
				</header>
			</div>
			<div class="row">
				<%= yield %>
			</div>
			<footer>
				<div class="container">
					JS Framework Shootout 2013
				</div>
			</footer>
		</div>
	</body>
</html>
